
.search {
  width: 450px;
  height: 28px;
  margin:15px 0px;
}

.search-bar{
  position:relative;
}

#icon img {
  position: absolute;
  height: 28px;
  width: 30px;
  right: 0px;
  top: 18px;
}

input:focus {
  border-color: blue;
}

.buttons {
  text-align: center;
}

.buttons button {
  padding: 8px;
  border: none;
  background-color: lightgrey;
  font-weight: 500;
  font-size: 13px;
  position: relative;
  text-align: center;
}
